/* Toggle button styles */
.button {
    cursor: pointer;
    font-size: 30px;
    border: none;
    border-radius: 8px;
    width: 42px; /* 固定寬度 */
    height: 42px; /* 固定高度 */
    z-index: 1001; /* 確保按鈕顯示在頂層 */
    background-color: #4FB4A1;
    color: #EAEFF2;
}

#toggle-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    left: 20px;
}

#open, #close {
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease; /* 平滑過渡 */
}

#open {
    font-size: 30px;
    opacity: 1;
    transform: rotate(0deg); /* 初始角度 */

}

#close {
    font-size: 24px;
    opacity: 0; /* 初始狀態隱藏 */
    transform: rotate(-180deg); /* 初始角度 */

}

#toggle-button.toggled #open {
    transform: rotate(180deg);

}

#toggle-button.toggled #close {
    transform: rotate(0deg); /* 回到正常角度 */

}

#toggle-button:hover {
    background-color: #3A8C77;
}


