body {
    font-family: Arial, sans-serif;
    background-color: #EAEFF2;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container{
    display: flex;
    transition: margin-left 0.5s; /* 增加平滑過渡效果 */
    margin-left: 250px; /* 初始時避開側邊欄 */
    min-width: 400px;
}
