/* Sidebar container styles */
.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;

    display: flex;
    align-items: flex-start;

}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* 側邊欄填滿視窗高度 */
    width: 200px;  /* 展開時的寬度 */

    background-color: #4FB4A1;
    color: #EAEFF2;

    padding: 20px;

    transition: transform 0.5s ease; /* 平滑過渡效果 */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 50px 0 0 0; /* 增加頂部空間 */
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    will-change: transform; /* 提前通知瀏覽器進行優化 */
    font-size: 16px;
    color: #EAEFF2;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s cubic-bezier(0.25, 1.3, 0.5, 1); /* 自定義彈性過渡 */
}

/* 當側邊欄隱藏時，將其移出視圖 */
.sidebar.collapsed {
    transform: translateX(-100%); /* 隱藏側邊欄 */
}

/*選到時變色#3A8C77*/
.sidebar a:hover {
    background-color: #3A8C77;
    transform: scale(1.1);
}

.sidebar a:active {
    transform: scale(0.95);
    background-color: #357260;
    transition: transform 0.15s ease, background-color 0.3s ease
}